.node {
  display: inline-block;
  width: 25px;
  height: 25px;
  outline: 1px solid rgba(63, 67, 67, 0.7);
}

.endNode {
  background-color: rgba(255, 0, 0, 0.7);
}

.startNode {
  background-color: rgba(0, 255, 0, 0.7);
}
